# <font color = "blue"> Introdução à Programação Orientada a Objetos

In [1]:
# versão da linguagem python
from platform import python_version
print("Versão Python", python_version())

Versão Python 3.9.13

# Objetos

Em python, tudo é objeto!

In [2]:
# criando uma lista 
list_num = ["Data", "Science", "Academy", "Nota", 10, 10]

In [3]:
# Tipo do objeto list_num
type(list_num)

list

In [4]:
# O interpretador entende exclusivamente algumos represetações built-in como classes
print(type([]))
print(type(()))
print(type({}))
print(type(""))
print(type(10))
print(type(10.0))

<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'str'>
<class 'int'>
<class 'float'>

In [5]:
# métodos e atributos de list_num
print(list_num.count(10))
print(list_num.append(10))
print(list_num)

2
None
['Data', 'Science', 'Academy', 'Nota', 10, 10, 10]

In [6]:
# criando um novo tipo de objeto chamdo Carro
class Carro(object):
    pass

In [7]:
# objeto (instância da classe)
ferrari = Carro()

In [8]:
# Criando classe
class Estudantes:
    def __init__(self, nome, idade, nota):
        self.nome = nome
        self.idade = idade
        self.nota = nota

In [9]:
# criando objeto
Estutante1 = Estudantes("Bob", 12, 0.5)

In [10]:
# criando classe
class Estudantes():
    def __init__(self, nome, idade, nota):
        self.nome = nome
        self.idade = idade
        self.nota = nota

In [11]:
Estutante2 = Estudantes("Bob", 12, 0.5)

In [12]:
# atributos
print(Estutante1.idade)
print(Estutante1.nome)
print(Estutante1.nota)

12
Bob
0.5

In [13]:
# atributos
print(Estutante2.idade)
print(Estutante2.nome)
print(Estutante2.nota)

12
Bob
0.5

In [21]:
# criando uma classe
class funcionario():
    def __init__(self, nome, salario, cargo):
        self.nome    = nome
        self.salario = salario
        self.cargo   = cargo
    
    def listFunc(self):
        print("Funcionários " + self.nome + "tem salário de $R:" + str(self.salario) + " e cargo" + self.cargo)

In [22]:
# criando um objeto
func1 = funcionario("Jazmin", 5000, "Ingenheira")

In [23]:
# usando atributos e método da classe
print(func1.cargo)
print(func1.nome)
print(func1.salario)
print(func1.listFunc())

Ingenheira
Jazmin
5000
Funcionários Jazmintem salário de $R:5000 e cargoIngenheira
None

In [24]:
print("#------------- Usando atributos --------------#")

#------------- Usando atributos --------------#

In [25]:
hasattr(func1, "nome") # tem atriburo "nome" no objeto func1?

True

In [26]:
hasattr(func1, "salario")

True

In [27]:
setattr(func1, "salario", 4500)

In [28]:
hasattr(func1, "salario")

True

In [29]:
getattr(func1, "salario")

4500

In [30]:
delattr(func1, "salario")

In [31]:
hasattr(func1, "salario")

False

## Muito Obrigado

## Oscar J. O. Ayala