# <font color = "blue"> Variáveis e Operadores </font>

In [1]:
# versao de Pyhton
from platform import python_version
print("versao de Python:", python_version())

versao de Python: 3.9.13

In [ ]:
# atribuir numero inteiro a variavel
var_test = 1

In [ ]:
# imprimento o valor de "var_test"
var_test

In [ ]:
# imprimir com a funcao "print"
print(var_test)

In [ ]:
# nao e possivel imprimir uma variavel nao criada
var_nao_criada

In [ ]:
# sobre-escrever a variavel
var_test = 2
var_test

In [ ]:
# classe da variavel
type(var_test)

In [ ]:
# variavel float
var_test = 10.0
var_test

In [ ]:
# criar variavel nome letra
x = 1
x

## Declaração múltiplica

In [ ]:
pessoa1, pessoa2, pessoa3 = "Bob", 2, 1.5

In [ ]:
pessoa1

In [ ]:
pessoa2

In [ ]:
pessoa3

In [ ]:
fruta1 = fruta2 = fruta3 = "Melancia"

In [ ]:
fruta1

In [ ]:
fruta2

In [ ]:
fruta3

In [ ]:
# pyhton é case-sensitive
Fruta1

In [ ]:
# igual no que em R nao se pode nomear variaveis iniciando com un número.
1x = 2

In [ ]:
# nao se pode usar palavras reservadas
break = 1

## Variáveis atribuidas a outras variáveis e ordem de operações

In [ ]:
largura = 5

In [ ]:
altura = 10

In [ ]:
area = largura * altura
area

In [ ]:
perimetro = (2 * largura) + (2 * altura)
perimetro

## Concatenação de variáveis

In [ ]:
nome = "Jazmin"
sobrenome = "Ayala"
nomeCompleto = nome + " " + sobrenome
nomeCompleto

## Fim 
### Obrigado!